@import "tailwindcss";
*{
  scrollbar-width: none;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@layer base {
  body {
    @apply bg-[#050505] text-white selection:bg-[#D4AF37]/30;
  }
}

@layer utilities {
  /* The Metallic Gold Gradient */
  .bg-gold-gradient {
    background: linear-gradient(135deg, #996515 0%, #D4AF37 50%, #F5D76E 100%);
  }

  /* Soft Ambient Glow */
  .glow-gold {
    box-shadow: 0 0 40px -10px rgba(212, 175, 55, 0.2);
  }

  /* Glassmorphism subtle border */
  .border-glass {
    @apply border border-white/10 border-t-white/20 border-l-white/20;
  }
}